.Card-Container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.buttom{
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
  /* justify-content: space-between; */
}

.Top{
    display: flex;
    gap: 20px;
    width: 100%;
}